// App variables

// - colors
$black: #000000;
$white: #ffffff;

$fi-gray-light: #EFF3F6;
$fi-gray: #535F76;

$fi-violet-darker: #0f092d;
$fi-violet-dark: #341f97;
$fi-violet: #5f27cd;

// - layout
// -- left menu
$left-menu-width: 24rem;
$left-menu-bg: $fi-violet-darker;
$left-menu-link-hover: #1C2431;
$left-menu-link-color: #919BAE;
$left-menu-title-color: #5B626F;

// -- header
$header-height: 6rem;

// -- content
$content-background: #FAFAFB;

// Import bootstrap variables
@import "variables.bootstrap";
