// App variables

// - colors
$black: #000000;
$white: #ffffff;

$fi-gray-light: #EFF3F6;
$fi-gray: #32394A;

$fi-violet-darker: #101622;
$fi-violet-dark: #151C2E;
$fi-violet: #5f27cd;
$fi-violet-light: #7E8AAA;

// - layout
// -- left menu
$left-menu-width: 24rem;
$left-menu-bg: $fi-violet-darker;
$left-menu-link-hover: $fi-violet-dark;
$left-menu-link-color: $fi-violet-light;
$left-menu-title-color: $fi-gray;

// -- header
$header-height: 6rem;

// -- content
$content-background: $fi-gray-light;
// Import bootstrap variables
@import "variables.bootstrap";